<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.business.friedrich.kuzan.business">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_entrepreneur_sign_up"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_entrepreneur_sign_up_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.сlient.ClientActivity" />
        <activity android:name=".ui.manager.ManagerActivity" />
        <activity android:name=".ui.business.BusinessActivity" />
        <activity android:name=".ui.business.body_design_activity.BodyDesignActivity" />
    </application>

</manifest>